
#fonte1{
    font-family: 'Space Mono', monospace;
}

#fonte2{
    font-family: 'Corinthia', 'cursive';
}

#fonte3 {
    font-family: 'Fuzzy Bubbles';
}

#fonte4 {
    font-family: 'Lobster';
}

#fonte5 {
    font-family: 'Fredoka One';
}

#fonte6 {
    font-family: 'Special Elite';
}

#fonte7 {
    font-family:'lobster';
}
